In [101]:
import pandas as pd

In [131]:
raw_df = pd.read_csv('../data/r.csv')
raw_df.head()

,Precinct,Date,Created,Address,Unnamed: 4,Unnamed: 5,Unnamed: 6,Incident Type,Unnamed: 8,Unnamed: 9,Priority
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,NaN,NaN,NaN,INTOXICATED PERSON,NaN,NaN,2
1,C,07-01-2021,03:02:52,920 BROADWAY,NaN,NaN,NaN,WELFARE CHECK,NaN,NaN,2
2,C,07-01-2021,05:44:47,110 4TH AVE S,NaN,NaN,NaN,DISORDERLY SUBJECT,NaN,NaN,2
3,C,07-01-2021,05:49:07,800 4TH AVE S,NaN,NaN,NaN,SUSPICIOUS PERSON,NaN,NaN,2
4,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,NaN,NaN,NaN,TRESPASSER,NaN,NaN,2

In [136]:
#Adjust the drops
raw_df.drop(raw_df.columns[-3], axis=1, inplace=True)
raw_df.head()

,Precinct,Date,Created,Address,Incident Type,Priority
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2

In [159]:
geo_df = pd.read_csv('../data/geo.csv')
geo_df.head()

               address        lat        lng
0     1022 SEYMOUR AVE  36.185726 -86.750575
1    1310 EASTLAND AVE  36.183276 -86.745370
2         617 S 5TH ST  36.165976 -86.760884
3      2409 EMMETT AVE  36.195349 -86.747668
4  2930 DICKERSON PIKE  36.223448 -86.761631

In [109]:
priority_df = pd.read_csv('../data/p.csv')
priority_df.head()

,Month,Year,Precinct,1,2,Unnamed: 5,2L,2M,2N,2M.1,2T,3,3H,3M,3Q
0,August,2021,C,2,578,NaN,0,251,0,0,0,21,0,1,0
1,August,2021,CMD1,0,0,NaN,0,1,0,0,0,0,0,0,0
2,August,2021,CW,0,2,NaN,0,17,0,0,0,0,0,0,0
3,August,2021,E,0,391,NaN,0,126,0,0,0,12,0,2,0
4,August,2021,H,0,729,NaN,0,190,0,0,0,32,0,4,0

In [111]:
#adjust drops
priority_df.drop(priority_df.columns[-9], axis=1, inplace=True)
priority_df.head()

    Month  Year Precinct  1    2  2L   2M  2N  2T   3  3H  3M  3Q
0  August  2021        C  2  578   0  251   0   0  21   0   1   0
1  August  2021     CMD1  0    0   0    1   0   0   0   0   0   0
2  August  2021       CW  0    2   0   17   0   0   0   0   0   0
3  August  2021        E  0  391   0  126   0   0  12   0   2   0
4  August  2021        H  0  729   0  190   0   0  32   0   4   0

In [112]:
calls_df = pd.read_csv('../data/c.csv', header=1)
calls_df.head()

,Precinct,Month,Year,ASSIST EMS,Unnamed: 4,DISORDERLY SUBJECT,Unnamed: 6,DOMESTIC DISTURBANCE,INTOXICATED PERSON,MENTAL CONDITION,Unnamed: 10,SUICIDAL PERSON,SUSPICIOUS PERSON,Unnamed: 13,Unnamed: 14,Unnamed: 15,TRESPASSER,WELFARE CHECK
0,C,August,2021,203,NaN,354,NaN,11,7,28,NaN,43,18,NaN,NaN,NaN,104,85
1,CMD1,August,2021,0,NaN,1,NaN,0,0,0,NaN,0,0,NaN,NaN,NaN,0,0
2,CW,August,2021,3,NaN,8,NaN,0,0,1,NaN,1,1,NaN,NaN,NaN,3,2
3,E,August,2021,91,NaN,187,NaN,56,3,13,NaN,16,44,NaN,NaN,NaN,33,88
4,H,August,2021,190,NaN,310,NaN,64,5,28,NaN,31,69,NaN,NaN,NaN,68,190

In [118]:
#adjust the drops
calls_df.drop(calls_df.columns[-9], axis=1, inplace=True)
calls_df.head()

,Precinct,Month,Year,ASSIST EMS,DISORDERLY SUBJECT,DOMESTIC DISTURBANCE,INTOXICATED PERSON,MENTAL CONDITION,SUICIDAL PERSON,SUSPICIOUS PERSON,TRESPASSER,WELFARE CHECK
0,C,August,2021,203,354,11,7,28,43,18,104,85
1,CMD1,August,2021,0,1,0,0,0,0,0,0,0
2,CW,August,2021,3,8,0,0,1,1,1,3,2
3,E,August,2021,91,187,56,3,13,16,44,33,88
4,H,August,2021,190,310,64,5,28,31,69,68,190

In [10]:
#raw_df.groupby(by=['Precinct',  'Incident Type', 'Priority']).count()

In [11]:
raw_df.Precinct.unique()

array(['C', 'CMD1', 'CW', 'E', 'H', 'M', 'MT', 'N', 'S', 'W', 'PCW',
       'CMD2'], dtype=object)

In [119]:
raw_c_df = raw_df[raw_df.Precinct == "C"]

In [120]:
raw_w_df = raw_df[raw_df.Precinct == "W"]
raw_w_df

,Precinct,Date,Created,Address,Incident Type,Priority
4858,W,07-01-2021,00:32:37,5600 CHARLOTTE PIKE,MENTAL CONDITION,3
4859,W,07-01-2021,04:23:35,412 BRADFORD GRN,ASSIST EMS,2
4860,W,07-01-2021,09:33:58,101 46TH AVE N,TRESPASSER,2
4861,W,07-01-2021,11:02:32,104 CHRISTOPHER ST,WELFARE CHECK,2M
4862,W,07-01-2021,11:33:33,2215 ABBOTT MARTIN RD,MENTAL CONDITION,2
...,...,...,...,...,...,...
47921,W,03-31-2022,11:46:52,3811 HILLSBORO PIKE,TRESPASSER,2
47922,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
47923,W,03-31-2022,17:59:25,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
47924,W,03-31-2022,20:31:47,2828 KENWAY RD,SUSPICIOUS PERSON,2
47925,W,03-31-2022,22:30:34,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

In [121]:
raw_s_df = raw_df[raw_df.Precinct == "S"]
raw_s_df.head()

,Precinct,Date,Created,Address,Incident Type,Priority
4015,S,07-01-2021,00:36:16,2671 MURFREESBORO PIKE,WELFARE CHECK,2
4016,S,07-01-2021,00:43:22,1760 BRIDGECREST DR,INTOXICATED PERSON,2
4017,S,07-01-2021,00:53:59,4700 HUMBER DR,SUSPICIOUS PERSON,2
4018,S,07-01-2021,01:37:03,5238 TUSCULUM CT,DOMESTIC DISTURBANCE,2M
4019,S,07-01-2021,01:38:27,MM 59 6 I24 E,ASSIST EMS,2

In [122]:
raw_m_df = raw_df[raw_df.Precinct == "M"]
raw_m_df.head()

,Precinct,Date,Created,Address,Incident Type,Priority
2173,M,07-01-2021,00:59:48,3460 DICKERSON PIKE,WELFARE CHECK,2
2174,M,07-01-2021,07:24:57,140 CUDE LN,ASSIST EMS,2M
2175,M,07-01-2021,08:48:10,126 CUDE LN,TRESPASSER,2M
2176,M,07-01-2021,09:02:31,2220 GALLATIN PIKE N,ASSIST EMS,2
2177,M,07-01-2021,10:31:20,629 MYATT DR,DOMESTIC DISTURBANCE,2M

In [123]:
raw_df.groupby(by=['Incident Type', 'Precinct']).count()

                        Date  Created  Address  Priority
Incident Type Precinct
ASSIST EMS    C         1510     1510     1510      1510
              CW         117      117      117       117
              E          786      786      786       786
              H         1569     1569     1569      1569
              M         1119     1119     1119      1119
...                      ...      ...      ...       ...
WELFARE CHECK M         1116     1116     1116      1116
              MT        1179     1179     1179      1179
              N         1095     1095     1095      1095
              S         1755     1755     1755      1755
              W          996      996      996       996

[85 rows x 4 columns]

In [124]:
raw_c_df = raw_df[raw_df.Precinct == "C"]
raw_c_df

,Precinct,Date,Created,Address,Incident Type,Priority
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...
43142,C,03-31-2022,18:13:15,639 LAFAYETTE ST,ASSIST EMS,2
43143,C,03-31-2022,19:05:27,250 REP JOHN LEWIS WAY S,DISORDERLY SUBJECT,2
43144,C,03-31-2022,20:21:18,206 3RD AVE S,ASSIST EMS,2M
43145,C,03-31-2022,21:17:06,BROADWAY / REP JOHN LEWIS WAY S,DISORDERLY SUBJECT,2M
43146,C,03-31-2022,23:09:29,215 6TH AVE N,TRESPASSER,2M

In [125]:
raw_h_df = raw_df[raw_df.Precinct == "H"]
raw_h_df

,Precinct,Date,Created,Address,Incident Type,Priority
1260,H,07-01-2021,00:54:10,2827 SMITH SPRINGS RD,DISORDERLY SUBJECT,2
1261,H,07-01-2021,01:58:23,1000 THOMPSON PL,SUSPICIOUS PERSON,2
1262,H,07-01-2021,03:36:16,930 INDUSTRIAL DR,MENTAL CONDITION,2
1263,H,07-01-2021,05:06:21,5768 OLD HICKORY BLVD,DISORDERLY SUBJECT,2
1264,H,07-01-2021,05:21:26,1009 WOOD DUCK CT,MENTAL CONDITION,2M
...,...,...,...,...,...,...
44642,H,03-31-2022,20:21:52,1654 DOUBLETREE LN,WELFARE CHECK,2
44643,H,03-31-2022,20:25:37,4060 ANDREW JACKSON PKWY,WELFARE CHECK,2
44644,H,03-31-2022,21:21:47,545 DONELSON PIKE,DISORDERLY SUBJECT,2M
44645,H,03-31-2022,21:23:42,224 BURNING TREE DR,WELFARE CHECK,2M
44646,H,03-31-2022,22:59:36,3110 CLOVERWOOD DR,SUSPICIOUS PERSON,2

In [200]:
geo_df.rename(columns = {'address':'Address'}, inplace = True)
geo_df

                   Address        lat        lng
0         1022 SEYMOUR AVE  36.185726 -86.750575
1        1310 EASTLAND AVE  36.183276 -86.745370
2             617 S 5TH ST  36.165976 -86.760884
3          2409 EMMETT AVE  36.195349 -86.747668
4      2930 DICKERSON PIKE  36.223448 -86.761631
...                    ...        ...        ...
18976     4140 CREEKWOOD N  36.216213 -86.845592
18977       923 16TH AVE N  36.166041 -86.800870
18978      2131 14TH AVE N  36.187328 -86.810324
18979       2417 HERMAN ST  36.162061 -86.813110
18980    631 W NOCTURNE DR  36.210620 -86.800515

[18981 rows x 3 columns]

In [237]:
raw_c_df.head()

,Precinct,Date,Created,Address,Incident Type,Priority,lat_x,lng_x,lat_y,lng_y
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2,36.152611,-86.777416,36.152611,-86.777416
1,C,07-01-2021,15:30:16,639 LAFAYETTE ST,ASSIST EMS,2,36.152611,-86.777416,36.152611,-86.777416
2,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2,36.152611,-86.777416,36.152611,-86.777416
3,C,07-01-2021,20:53:41,639 LAFAYETTE ST,DISORDERLY SUBJECT,2,36.152611,-86.777416,36.152611,-86.777416
4,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2,36.152611,-86.777416,36.152611,-86.777416

In [238]:
raw_c_df = pd.merge(raw_c_df, geo_df, on = ["Address"], how = "inner")
raw_c_df.head()

,Precinct,Date,Created,Address,Incident Type,Priority,lat_x,lng_x,lat_y,lng_y,lat,lng
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2,36.152611,-86.777416,36.152611,-86.777416,36.152611,-86.777416
1,C,07-01-2021,15:30:16,639 LAFAYETTE ST,ASSIST EMS,2,36.152611,-86.777416,36.152611,-86.777416,36.152611,-86.777416
2,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2,36.152611,-86.777416,36.152611,-86.777416,36.152611,-86.777416
3,C,07-01-2021,20:53:41,639 LAFAYETTE ST,DISORDERLY SUBJECT,2,36.152611,-86.777416,36.152611,-86.777416,36.152611,-86.777416
4,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2,36.152611,-86.777416,36.152611,-86.777416,36.152611,-86.777416

In [128]:
counts_raw = raw_df.groupby(by=['Incident Type', 'Precinct']).count()

In [22]:
counts_raw.to_csv('count.csv')

In [129]:
raw_df.groupby

<bound method DataFrame.groupby of       Precinct        Date   Created                   Address  \
0            C  07-01-2021  01:57:16          639 LAFAYETTE ST
1            C  07-01-2021  03:02:52              920 BROADWAY
2            C  07-01-2021  05:44:47             110 4TH AVE S
3            C  07-01-2021  05:49:07             800 4TH AVE S
4            C  07-01-2021  08:01:06        1033 DEMONBREUN ST
...        ...         ...       ...                       ...
47921        W  03-31-2022  11:46:52       3811 HILLSBORO PIKE
47922        W  03-31-2022  12:24:06       7277 CHARLOTTE PIKE
47923        W  03-31-2022  17:59:25    MURPHY RD / 42ND AVE N
47924        W  03-31-2022  20:31:47            2828 KENWAY RD
47925        W  03-31-2022  22:30:34  CLIFTON AVE / 40TH AVE N

            Incident Type Priority
0      INTOXICATED PERSON        2
1           WELFARE CHECK        2
2      DISORDERLY SUBJECT        2
3       SUSPICIOUS PERSON        2
4              TRESPASSER        2
...                   ...      ...
47921          TRESPASSER        2
47922     SUICIDAL PERSON        2
47923  DISORDERLY SUBJECT        2
47924   SUSPICIOUS PERSON        2
47925   SUSPICIOUS PERSON        2

[47926 rows x 6 columns]>

In [137]:
raw_df

,Precinct,Date,Created,Address,Incident Type,Priority
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...
47921,W,03-31-2022,11:46:52,3811 HILLSBORO PIKE,TRESPASSER,2
47922,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
47923,W,03-31-2022,17:59:25,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
47924,W,03-31-2022,20:31:47,2828 KENWAY RD,SUSPICIOUS PERSON,2
47925,W,03-31-2022,22:30:34,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

In [138]:
raw_df['Created'] = raw_df['Created'].str[:-6]
raw_df

,Precinct,Date,Created,Address,Incident Type,Priority
0,C,07-01-2021,01,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,C,07-01-2021,03,920 BROADWAY,WELFARE CHECK,2
2,C,07-01-2021,05,110 4TH AVE S,DISORDERLY SUBJECT,2
3,C,07-01-2021,05,800 4TH AVE S,SUSPICIOUS PERSON,2
4,C,07-01-2021,08,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...
47921,W,03-31-2022,11,3811 HILLSBORO PIKE,TRESPASSER,2
47922,W,03-31-2022,12,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
47923,W,03-31-2022,17,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
47924,W,03-31-2022,20,2828 KENWAY RD,SUSPICIOUS PERSON,2
47925,W,03-31-2022,22,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

In [139]:
raw_df.loc[:,['Incident Type', 'Created']].value_counts()

Incident Type       Created
DISORDERLY SUBJECT  18         950
                    16         939
                    15         925
                    17         894
                    19         869
                              ...
INTOXICATED PERSON  10           5
                    05           4
                    09           4
                    08           3
                    07           2
Length: 216, dtype: int64

In [140]:
raw_df.loc[:,['Incident Type', 'Created']].value_counts().to_csv('df.csv')

In [141]:
raw_df['Incident Type'].value_counts()

DISORDERLY SUBJECT      15568
ASSIST EMS              10043
WELFARE CHECK            9545
TRESPASSER               4023
SUSPICIOUS PERSON        2797
DOMESTIC DISTURBANCE     2661
SUICIDAL PERSON          1725
MENTAL CONDITION         1266
INTOXICATED PERSON        298
Name: Incident Type, dtype: int64

In [142]:
raw_df['Precinct'].value_counts()

H       7957
S       7953
C       6870
MT      5973
N       5515
M       4867
W       4258
E       3882
CW       644
PCW        4
CMD1       2
CMD2       1
Name: Precinct, dtype: int64

In [36]:
time_df.to_csv('raw.csv')

NameError: name 'time_df' is not defined

In [144]:
time_df = raw_df['Created'].value_counts()
time1_df

  Created
    47926

In [145]:
time1_df = pd.DataFrame(time_df)

In [146]:
time1_df

    Created
16     2894
18     2871
15     2812
17     2775
19     2614
20     2594
14     2570
21     2552
13     2391
22     2224
12     2197
11     2156
23     2007
10     1969
09     1789
00     1782
08     1567
01     1501
02     1327
07     1325
03     1089
06     1047
04     1009
05      864

In [148]:
raw_dis_df = raw_df[raw_df['Incident Type'] == "DISORDERLY SUBJECT"]
raw_dis_df

,Precinct,Date,Created,Address,Incident Type,Priority
2,C,07-01-2021,05,110 4TH AVE S,DISORDERLY SUBJECT,2
5,C,07-01-2021,08,705 DREXEL ST,DISORDERLY SUBJECT,2
6,C,07-01-2021,08,127 4TH AVE S,DISORDERLY SUBJECT,2M
7,C,07-01-2021,09,206 3RD AVE S,DISORDERLY SUBJECT,2
8,C,07-01-2021,09,VICTORY AVE / S 1ST ST,DISORDERLY SUBJECT,2
...,...,...,...,...,...,...
47911,W,03-30-2022,18,72 WHITE BRIDGE PIKE,DISORDERLY SUBJECT,2
47913,W,03-30-2022,21,6720 RODNEY CT,DISORDERLY SUBJECT,2
47917,W,03-31-2022,06,6509 CHARLOTTE PIKE,DISORDERLY SUBJECT,2M
47920,W,03-31-2022,11,1016 43RD AVE N,DISORDERLY SUBJECT,2
47923,W,03-31-2022,17,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2

In [149]:
raw_dis_df.dtypes

Precinct         object
Date             object
Created          object
Address          object
Incident Type    object
Priority         object
dtype: object

In [150]:
#raw_dis_df['Created'] = raw_dis_df['Created'].astype(str).astype(int)
#raw_dis_df

In [ ]:
#pd.to_time(raw_dis_df['Created'], format='%H:%M:%S').dt.hour
#raw_dis_df.dtypes
#raw_dis_df['Created'] = pd.to_datetime(raw_dis_df['Created'])
#raw_dis_df.dtypes

In [ ]:
#raw_dis_df['Created'].floor('h')

In [ ]:
#raw_dis_df['Created'] = pd.to_datetime(raw_dis_df['Created'])
#raw_dis_df['Created']

In [44]:
#for d in raw_dis_df['Created']:
 #  raw_dis_df['date'] = d.date()
  # raw_dis_df['time'] = d.time()

In [45]:
#raw_dis_df['Created'].dtypes

In [151]:
raw_dis_df[(raw_df['Created'] < '10')]

/var/folders/y1/ys7q1jb97lqcmmcny9728wjm0000gn/T/ipykernel_93247/3605648873.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  raw_dis_df[(raw_df['Created'] < '10')]

,Precinct,Date,Created,Address,Incident Type,Priority
2,C,07-01-2021,05,110 4TH AVE S,DISORDERLY SUBJECT,2
5,C,07-01-2021,08,705 DREXEL ST,DISORDERLY SUBJECT,2
6,C,07-01-2021,08,127 4TH AVE S,DISORDERLY SUBJECT,2M
7,C,07-01-2021,09,206 3RD AVE S,DISORDERLY SUBJECT,2
8,C,07-01-2021,09,VICTORY AVE / S 1ST ST,DISORDERLY SUBJECT,2
...,...,...,...,...,...,...
47828,W,03-24-2022,04,47TH AVE N / ALABAMA AVE,DISORDERLY SUBJECT,2
47838,W,03-25-2022,09,855 HILLWOOD BLVD,DISORDERLY SUBJECT,2M
47877,W,03-28-2022,03,5802 CHARLOTTE PIKE,DISORDERLY SUBJECT,2
47906,W,03-30-2022,09,6119 CHARLOTTE PIKE,DISORDERLY SUBJECT,2
47917,W,03-31-2022,06,6509 CHARLOTTE PIKE,DISORDERLY SUBJECT,2M

In [152]:
raw_df['Incident Type'].value_counts

<bound method IndexOpsMixin.value_counts of 0        INTOXICATED PERSON
1             WELFARE CHECK
2        DISORDERLY SUBJECT
3         SUSPICIOUS PERSON
4                TRESPASSER
                ...
47921            TRESPASSER
47922       SUICIDAL PERSON
47923    DISORDERLY SUBJECT
47924     SUSPICIOUS PERSON
47925     SUSPICIOUS PERSON
Name: Incident Type, Length: 47926, dtype: object>

In [153]:
raw_dis_df[(raw_df['Created'] > '22')] 
# (raw_dis_df[raw_df['Created'] < '10' ]
           
           
#df = df[(df['closing_price'] >= 99) & (df['closing_price'] <= 101)]

/var/folders/y1/ys7q1jb97lqcmmcny9728wjm0000gn/T/ipykernel_93247/3541796492.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  raw_dis_df[(raw_df['Created'] > '22')]

,Precinct,Date,Created,Address,Incident Type,Priority
65,C,07-02-2021,23,315 4TH AVE N,DISORDERLY SUBJECT,2M
90,C,07-03-2021,23,12TH AVE S / DIVISION ST,DISORDERLY SUBJECT,2
122,C,07-04-2021,23,717 3RD AVE N,DISORDERLY SUBJECT,2
168,C,07-07-2021,23,227 SHELBY AVE,DISORDERLY SUBJECT,2
196,C,07-08-2021,23,709 REP JOHN LEWIS WAY S,DISORDERLY SUBJECT,2
...,...,...,...,...,...,...
47481,S,03-31-2022,23,741 MURFREESBORO PIKE,DISORDERLY SUBJECT,2M
47505,W,03-02-2022,23,7044 CHARLOTTE PIKE,DISORDERLY SUBJECT,2
47678,W,03-15-2022,23,7407 OLD CHARLOTTE PIKE,DISORDERLY SUBJECT,2M
47777,W,03-21-2022,23,1013 43RD AVE N,DISORDERLY SUBJECT,2
47849,W,03-25-2022,23,4210 CHARLOTTE AVE,DISORDERLY SUBJECT,2

In [49]:
#import matplotlib.pyplot as plt
#import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
#plt.figure(figsize = (10,6))

#sns.scatterplot(data = raw_dis_df,
 #              x = 'Precinct',
  #             y = 'Created',);

In [195]:
#plt.bar('Created', 'Address', data = raw_dis_df)
#plt.show()

In [51]:
#raw_dis_df.groupby(by=['Precinct', 'Created']).count()

In [52]:
raw_dis_df.loc

In [53]:
import sqlite3 as sql

In [54]:
conn = sql.connect('../data/census.sqlite')
cur = conn.cursor()

In [55]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")

In [56]:
available_tables = (cur.fetchall())

In [57]:
print(available_tables)

[('B01001',), ('B03002',), ('B11001',), ('B11002',), ('B15002',), ('B19001',), ('B19013',), ('B19301',), ('B25024',), ('B25075',), ('S1701',)]

In [58]:
cur.execute("SELECT * FROM B19001 LIMIT 5;")

Household_income = (cur.fetchall())

In [192]:
#Household_income

In [60]:
Household_income_df = pd.read_sql("SELECT * FROM B19001;", conn)

In [61]:
Household_income_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19001_001E,990,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19001_001E,1221,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19001_001E,1860,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19001_001E,1152,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19001_001E,1731,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
2732,2732,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B19001_017E,311,"Estimate!!Total:!!$200,000 or more"
2733,2733,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B19001_017E,654,"Estimate!!Total:!!$200,000 or more"
2734,2734,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B19001_017E,99,"Estimate!!Total:!!$200,000 or more"
2735,2735,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B19001_017E,0,"Estimate!!Total:!!$200,000 or more"
2736,2736,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B19001_017E,0,"Estimate!!Total:!!$200,000 or more"

In [90]:
Household_income_df['geo'] = Household_income_df.GEO_ID.str[9:]
Household_income_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description,geo
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19001_001E,990,Estimate!!Total:,47037010103
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19001_001E,1221,Estimate!!Total:,47037010104
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19001_001E,1860,Estimate!!Total:,47037010105
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19001_001E,1152,Estimate!!Total:,47037010106
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19001_001E,1731,Estimate!!Total:,47037010201
...,...,...,...,...,...,...,...,...,...,...
2732,2732,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B19001_017E,311,"Estimate!!Total:!!$200,000 or more",47037019400
2733,2733,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B19001_017E,654,"Estimate!!Total:!!$200,000 or more",47037019500
2734,2734,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B19001_017E,99,"Estimate!!Total:!!$200,000 or more",47037019600
2735,2735,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B19001_017E,0,"Estimate!!Total:!!$200,000 or more",47037980100
2736,2736,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B19001_017E,0,"Estimate!!Total:!!$200,000 or more",47037980200

In [62]:
Median_income_df = pd.read_sql("SELECT * FROM B19013;", conn)

In [63]:
Median_income_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19013_001E,70341,Estimate!!Median household income in the past ...
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19013_001E,64844,Estimate!!Median household income in the past ...
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19013_001E,64688,Estimate!!Median household income in the past ...
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19013_001E,63864,Estimate!!Median household income in the past ...
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19013_001E,62829,Estimate!!Median household income in the past ...
...,...,...,...,...,...,...,...,...,...
156,156,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B19013_001E,81286,Estimate!!Median household income in the past ...
157,157,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B19013_001E,75446,Estimate!!Median household income in the past ...
158,158,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B19013_001E,59072,Estimate!!Median household income in the past ...
159,159,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B19013_001E,-666666666,Estimate!!Median household income in the past ...
160,160,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B19013_001E,-666666666,Estimate!!Median household income in the past ...

In [89]:
Median_income_df['geo'] = Median_income_df.GEO_ID.str[9:]
Median_income_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description,geo
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19013_001E,70341,Estimate!!Median household income in the past ...,47037010103
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19013_001E,64844,Estimate!!Median household income in the past ...,47037010104
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19013_001E,64688,Estimate!!Median household income in the past ...,47037010105
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19013_001E,63864,Estimate!!Median household income in the past ...,47037010106
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19013_001E,62829,Estimate!!Median household income in the past ...,47037010201
...,...,...,...,...,...,...,...,...,...,...
156,156,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B19013_001E,81286,Estimate!!Median household income in the past ...,47037019400
157,157,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B19013_001E,75446,Estimate!!Median household income in the past ...,47037019500
158,158,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B19013_001E,59072,Estimate!!Median household income in the past ...,47037019600
159,159,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B19013_001E,-666666666,Estimate!!Median household income in the past ...,47037980100
160,160,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B19013_001E,-666666666,Estimate!!Median household income in the past ...,47037980200

In [87]:
per_cap_df['geo'] = per_cap_df.GEO_ID.str[9:]
per_cap_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description,geo
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19301_001E,33867,Estimate!!Per capita income in the past 12 mon...,47037010103
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19301_001E,38506,Estimate!!Per capita income in the past 12 mon...,47037010104
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19301_001E,35122,Estimate!!Per capita income in the past 12 mon...,47037010105
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19301_001E,30843,Estimate!!Per capita income in the past 12 mon...,47037010106
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19301_001E,34567,Estimate!!Per capita income in the past 12 mon...,47037010201
...,...,...,...,...,...,...,...,...,...,...
156,156,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B19301_001E,58644,Estimate!!Per capita income in the past 12 mon...,47037019400
157,157,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B19301_001E,66717,Estimate!!Per capita income in the past 12 mon...,47037019500
158,158,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B19301_001E,30948,Estimate!!Per capita income in the past 12 mon...,47037019600
159,159,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B19301_001E,-666666666,Estimate!!Per capita income in the past 12 mon...,47037980100
160,160,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B19301_001E,-666666666,Estimate!!Per capita income in the past 12 mon...,47037980200

In [86]:
per_cap_df = pd.read_sql("SELECT * FROM B19301;", conn)
per_cap_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19301_001E,33867,Estimate!!Per capita income in the past 12 mon...
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19301_001E,38506,Estimate!!Per capita income in the past 12 mon...
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19301_001E,35122,Estimate!!Per capita income in the past 12 mon...
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19301_001E,30843,Estimate!!Per capita income in the past 12 mon...
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19301_001E,34567,Estimate!!Per capita income in the past 12 mon...
...,...,...,...,...,...,...,...,...,...
156,156,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B19301_001E,58644,Estimate!!Per capita income in the past 12 mon...
157,157,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B19301_001E,66717,Estimate!!Per capita income in the past 12 mon...
158,158,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B19301_001E,30948,Estimate!!Per capita income in the past 12 mon...
159,159,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B19301_001E,-666666666,Estimate!!Per capita income in the past 12 mon...
160,160,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B19301_001E,-666666666,Estimate!!Per capita income in the past 12 mon...

In [66]:
import geopandas as gpd

In [160]:
geo1_df = gpd.read_file('../data/tl_2020_47_tract.shp')
geo1_df.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,47,175,925200,47175925200,9252,Census Tract 9252,G5020,S,227429512,1667739,+35.7438100,-085.4940227,"POLYGON ((-85.61516 35.76106, -85.61509 35.761..."
1,47,175,925000,47175925000,9250,Census Tract 9250,G5020,S,480712883,1225717,+35.6695378,-085.4220628,"POLYGON ((-85.60513 35.70854, -85.60511 35.708..."
2,47,003,950201,47003950201,9502.01,Census Tract 9502.01,G5020,S,121774227,0,+35.6517480,-086.5575518,"POLYGON ((-86.64406 35.64029, -86.64375 35.642..."
3,47,003,950202,47003950202,9502.02,Census Tract 9502.02,G5020,S,110617191,700793,+35.5845755,-086.5790796,"POLYGON ((-86.66377 35.58189, -86.66367 35.582..."
4,47,093,003300,47093003300,33,Census Tract 33,G5020,S,5860088,229299,+36.0020586,-083.8371218,"POLYGON ((-83.86208 35.99255, -83.86207 35.992..."

In [165]:
Household_income_df.head()

,index,GEO_ID,NAME,tract,county,state,variable,value,description,geo
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19001_001E,990,Estimate!!Total:,47037010103
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19001_001E,1221,Estimate!!Total:,47037010104
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19001_001E,1860,Estimate!!Total:,47037010105
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19001_001E,1152,Estimate!!Total:,47037010106
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19001_001E,1731,Estimate!!Total:,47037010201

In [191]:
raw_df

,Precinct,Date,Created,Address,Incident Type,Priority
0,C,07-01-2021,01,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,C,07-01-2021,03,920 BROADWAY,WELFARE CHECK,2
2,C,07-01-2021,05,110 4TH AVE S,DISORDERLY SUBJECT,2
3,C,07-01-2021,05,800 4TH AVE S,SUSPICIOUS PERSON,2
4,C,07-01-2021,08,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...
47921,W,03-31-2022,11,3811 HILLSBORO PIKE,TRESPASSER,2
47922,W,03-31-2022,12,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
47923,W,03-31-2022,17,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
47924,W,03-31-2022,20,2828 KENWAY RD,SUSPICIOUS PERSON,2
47925,W,03-31-2022,22,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

In [ ]:
#raw_df = pd.merge(raw_df, Household_income_df, on = "Address", how = "inner")
#raw_c_df

In [99]:
raw_df

,Precinct,Date,Created,Address,Incident Type,Priority
0,C,07-01-2021,,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,C,07-01-2021,,920 BROADWAY,WELFARE CHECK,2
2,C,07-01-2021,,110 4TH AVE S,DISORDERLY SUBJECT,2
3,C,07-01-2021,,800 4TH AVE S,SUSPICIOUS PERSON,2
4,C,07-01-2021,,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...
47921,W,03-31-2022,,3811 HILLSBORO PIKE,TRESPASSER,2
47922,W,03-31-2022,,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
47923,W,03-31-2022,,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
47924,W,03-31-2022,,2828 KENWAY RD,SUSPICIOUS PERSON,2
47925,W,03-31-2022,,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

In [243]:
geo1_df.head

<bound method NDFrame.head of      STATEFP COUNTYFP TRACTCE        GEOID     NAME              NAMELSAD  \
0         47      175  925200  47175925200     9252     Census Tract 9252
1         47      175  925000  47175925000     9250     Census Tract 9250
2         47      003  950201  47003950201  9502.01  Census Tract 9502.01
3         47      003  950202  47003950202  9502.02  Census Tract 9502.02
4         47      093  003300  47093003300       33       Census Tract 33
...      ...      ...     ...          ...      ...                   ...
1696      47      073  050501  47073050501   505.01   Census Tract 505.01
1697      47      073  050601  47073050601   506.01   Census Tract 506.01
1698      47      073  050602  47073050602   506.02   Census Tract 506.02
1699      47      073  050502  47073050502   505.02   Census Tract 505.02
1700      47      073  050503  47073050503   505.03   Census Tract 505.03

      MTFCC FUNCSTAT      ALAND   AWATER     INTPTLAT      INTPTLON  \
0     G5020        S  227429512  1667739  +35.7438100  -085.4940227
1     G5020        S  480712883  1225717  +35.6695378  -085.4220628
2     G5020        S  121774227        0  +35.6517480  -086.5575518
3     G5020        S  110617191   700793  +35.5845755  -086.5790796
4     G5020        S    5860088   229299  +36.0020586  -083.8371218
...     ...      ...        ...      ...          ...           ...
1696  G5020        S   83355996        0  +36.5659159  -082.7715246
1697  G5020        S   23847669   177932  +36.5836443  -082.6318663
1698  G5020        S   23386546   668716  +36.5467218  -082.6458382
1699  G5020        S   32873931   311980  +36.5332207  -082.7586081
1700  G5020        S   17050728   568444  +36.5225397  -082.6970280

                                               geometry
0     POLYGON ((-85.61516 35.76106, -85.61509 35.761...
1     POLYGON ((-85.60513 35.70854, -85.60511 35.708...
2     POLYGON ((-86.64406 35.64029, -86.64375 35.642...
3     POLYGON ((-86.66377 35.58189, -86.66367 35.582...
4     POLYGON ((-83.86208 35.99255, -83.86207 35.992...
...                                                 ...
1696  POLYGON ((-82.85011 36.54107, -82.84955 36.541...
1697  POLYGON ((-82.68939 36.58793, -82.68936 36.588...
1698  POLYGON ((-82.69446 36.54856, -82.69445 36.548...
1699  POLYGON ((-82.82242 36.52006, -82.82171 36.520...
1700  POLYGON ((-82.73162 36.52804, -82.73108 36.528...

[1701 rows x 13 columns]>

In [170]:
geo1_df(columns = {'GEOID':'geo'}, inplace = True)
geo1_df.head()

TypeError: 'GeoDataFrame' object is not callable

In [173]:
geo1_df.dtypes

STATEFP       object
COUNTYFP      object
TRACTCE       object
GEOID         object
NAME          object
NAMELSAD      object
MTFCC         object
FUNCSTAT      object
ALAND          int64
AWATER         int64
INTPTLAT      object
INTPTLON      object
geometry    geometry
dtype: object

In [240]:
pd.merge(geo1_df ,Household_income_df, how='inner', left_on=['GEOID'], right_on=['geo'] )

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME_x,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,index,GEO_ID,NAME_y,tract,county,state,variable,value,description,geo
0,47,037,019004,47037019004,190.04,Census Tract 190.04,G5020,S,2904633,0,...,139,1400000US47037019004,"Census Tract 190.04, Davidson County, Tennessee",19004,37,47,B19001_001E,1623,Estimate!!Total:,47037019004
1,47,037,019004,47037019004,190.04,Census Tract 190.04,G5020,S,2904633,0,...,300,1400000US47037019004,"Census Tract 190.04, Davidson County, Tennessee",19004,37,47,B19001_002E,7,"Estimate!!Total:!!Less than $10,000",47037019004
2,47,037,019004,47037019004,190.04,Census Tract 190.04,G5020,S,2904633,0,...,461,1400000US47037019004,"Census Tract 190.04, Davidson County, Tennessee",19004,37,47,B19001_003E,25,"Estimate!!Total:!!$10,000 to $14,999",47037019004
3,47,037,019004,47037019004,190.04,Census Tract 190.04,G5020,S,2904633,0,...,622,1400000US47037019004,"Census Tract 190.04, Davidson County, Tennessee",19004,37,47,B19001_004E,143,"Estimate!!Total:!!$15,000 to $19,999",47037019004
4,47,037,019004,47037019004,190.04,Census Tract 190.04,G5020,S,2904633,0,...,783,1400000US47037019004,"Census Tract 190.04, Davidson County, Tennessee",19004,37,47,B19001_005E,145,"Estimate!!Total:!!$20,000 to $24,999",47037019004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426,47,037,013400,47037013400,134,Census Tract 134,G5020,S,3620752,0,...,1977,1400000US47037013400,"Census Tract 134, Davidson County, Tennessee",13400,37,47,B19001_013E,220,"Estimate!!Total:!!$75,000 to $99,999",47037013400
2427,47,037,013400,47037013400,134,Census Tract 134,G5020,S,3620752,0,...,2138,1400000US47037013400,"Census Tract 134, Davidson County, Tennessee",13400,37,47,B19001_014E,263,"Estimate!!Total:!!$100,000 to $124,999",47037013400
2428,47,037,013400,47037013400,134,Census Tract 134,G5020,S,3620752,0,...,2299,1400000US47037013400,"Census Tract 134, Davidson County, Tennessee",13400,37,47,B19001_015E,235,"Estimate!!Total:!!$125,000 to $149,999",47037013400
2429,47,037,013400,47037013400,134,Census Tract 134,G5020,S,3620752,0,...,2460,1400000US47037013400,"Census Tract 134, Davidson County, Tennessee",13400,37,47,B19001_016E,226,"Estimate!!Total:!!$150,000 to $199,999",47037013400
2430,47,037,013400,47037013400,134,Census Tract 134,G5020,S,3620752,0,...,2621,1400000US47037013400,"Census Tract 134, Davidson County, Tennessee",13400,37,47,B19001_017E,260,"Estimate!!Total:!!$200,000 or more",47037013400

In [244]:
geo1_df.loc[0, 'geometry']

In [236]:
raw_df.loc[ 3,'geometry']

In [221]:
raw_df = gpd.GeoDataFrame(raw_df, 
                           crs = zipcodes.crs, 
                           geometry = raw_df['geometry'])

In [188]:
geo1_df.plot

<bound method GeoDataFrame.plot of      STATEFP COUNTYFP TRACTCE        GEOID     NAME              NAMELSAD  \
0         47      175  925200  47175925200     9252     Census Tract 9252
1         47      175  925000  47175925000     9250     Census Tract 9250
2         47      003  950201  47003950201  9502.01  Census Tract 9502.01
3         47      003  950202  47003950202  9502.02  Census Tract 9502.02
4         47      093  003300  47093003300       33       Census Tract 33
...      ...      ...     ...          ...      ...                   ...
1696      47      073  050501  47073050501   505.01   Census Tract 505.01
1697      47      073  050601  47073050601   506.01   Census Tract 506.01
1698      47      073  050602  47073050602   506.02   Census Tract 506.02
1699      47      073  050502  47073050502   505.02   Census Tract 505.02
1700      47      073  050503  47073050503   505.03   Census Tract 505.03

      MTFCC FUNCSTAT      ALAND   AWATER     INTPTLAT      INTPTLON  \
0     G5020        S  227429512  1667739  +35.7438100  -085.4940227
1     G5020        S  480712883  1225717  +35.6695378  -085.4220628
2     G5020        S  121774227        0  +35.6517480  -086.5575518
3     G5020        S  110617191   700793  +35.5845755  -086.5790796
4     G5020        S    5860088   229299  +36.0020586  -083.8371218
...     ...      ...        ...      ...          ...           ...
1696  G5020        S   83355996        0  +36.5659159  -082.7715246
1697  G5020        S   23847669   177932  +36.5836443  -082.6318663
1698  G5020        S   23386546   668716  +36.5467218  -082.6458382
1699  G5020        S   32873931   311980  +36.5332207  -082.7586081
1700  G5020        S   17050728   568444  +36.5225397  -082.6970280

                                               geometry
0     POLYGON ((-85.61516 35.76106, -85.61509 35.761...
1     POLYGON ((-85.60513 35.70854, -85.60511 35.708...
2     POLYGON ((-86.64406 35.64029, -86.64375 35.642...
3     POLYGON ((-86.66377 35.58189, -86.66367 35.582...
4     POLYGON ((-83.86208 35.99255, -83.86207 35.992...
...                                                 ...
1696  POLYGON ((-82.85011 36.54107, -82.84955 36.541...
1697  POLYGON ((-82.68939 36.58793, -82.68936 36.588...
1698  POLYGON ((-82.69446 36.54856, -82.69445 36.548...
1699  POLYGON ((-82.82242 36.52006, -82.82171 36.520...
1700  POLYGON ((-82.73162 36.52804, -82.73108 36.528...

[1701 rows x 13 columns]>

In [202]:
raw_df = pd.merge(raw_df, geo_df, on = "Address", how = "inner")
raw_df

,Precinct,Date,Created,Address,Incident Type,Priority,lat,lng
0,C,07-01-2021,01,639 LAFAYETTE ST,INTOXICATED PERSON,2,36.152611,-86.777416
1,C,07-01-2021,15,639 LAFAYETTE ST,ASSIST EMS,2,36.152611,-86.777416
2,C,07-01-2021,16,639 LAFAYETTE ST,SUICIDAL PERSON,2,36.152611,-86.777416
3,C,07-01-2021,20,639 LAFAYETTE ST,DISORDERLY SUBJECT,2,36.152611,-86.777416
4,C,07-01-2021,23,639 LAFAYETTE ST,SUICIDAL PERSON,2,36.152611,-86.777416
...,...,...,...,...,...,...,...,...
47921,W,03-31-2022,08,7835 COLEY DAVIS RD,WELFARE CHECK,2,36.077602,-86.961839
47922,W,03-31-2022,10,1366 GENERAL GEORGE PATTON RD,ASSIST EMS,2,36.069643,-86.952478
47923,W,03-31-2022,17,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2,36.140938,-86.837410
47924,W,03-31-2022,20,2828 KENWAY RD,SUSPICIOUS PERSON,2,36.108774,-86.825368
47925,W,03-31-2022,22,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2,36.158190,-86.834209

In [204]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [241]:
raw_df['geometry'] = raw_df.apply(lambda x: Point((float(x.lng), 
                                                         float(x.lat))), 
                                        axis=1)
raw_df.head(3)

,Precinct,Date,Created,Address,Incident Type,Priority,lat,lng,geometry
0,C,07-01-2021,01,639 LAFAYETTE ST,INTOXICATED PERSON,2,36.152611,-86.777416,POINT (-86.77742 36.15261)
1,C,07-01-2021,15,639 LAFAYETTE ST,ASSIST EMS,2,36.152611,-86.777416,POINT (-86.77742 36.15261)
2,C,07-01-2021,16,639 LAFAYETTE ST,SUICIDAL PERSON,2,36.152611,-86.777416,POINT (-86.77742 36.15261)

In [242]:
raw_df.columns

Index(['Precinct', 'Date', 'Created', 'Address', 'Incident Type', 'Priority',
       'lat', 'lng', 'geometry'],
      dtype='object')

In [218]:
geo1_df.plot

<bound method GeoDataFrame.plot of      STATEFP COUNTYFP TRACTCE        GEOID     NAME              NAMELSAD  \
0         47      175  925200  47175925200     9252     Census Tract 9252
1         47      175  925000  47175925000     9250     Census Tract 9250
2         47      003  950201  47003950201  9502.01  Census Tract 9502.01
3         47      003  950202  47003950202  9502.02  Census Tract 9502.02
4         47      093  003300  47093003300       33       Census Tract 33
...      ...      ...     ...          ...      ...                   ...
1696      47      073  050501  47073050501   505.01   Census Tract 505.01
1697      47      073  050601  47073050601   506.01   Census Tract 506.01
1698      47      073  050602  47073050602   506.02   Census Tract 506.02
1699      47      073  050502  47073050502   505.02   Census Tract 505.02
1700      47      073  050503  47073050503   505.03   Census Tract 505.03

      MTFCC FUNCSTAT      ALAND   AWATER     INTPTLAT      INTPTLON  \
0     G5020        S  227429512  1667739  +35.7438100  -085.4940227
1     G5020        S  480712883  1225717  +35.6695378  -085.4220628
2     G5020        S  121774227        0  +35.6517480  -086.5575518
3     G5020        S  110617191   700793  +35.5845755  -086.5790796
4     G5020        S    5860088   229299  +36.0020586  -083.8371218
...     ...      ...        ...      ...          ...           ...
1696  G5020        S   83355996        0  +36.5659159  -082.7715246
1697  G5020        S   23847669   177932  +36.5836443  -082.6318663
1698  G5020        S   23386546   668716  +36.5467218  -082.6458382
1699  G5020        S   32873931   311980  +36.5332207  -082.7586081
1700  G5020        S   17050728   568444  +36.5225397  -082.6970280

                                               geometry
0     POLYGON ((-85.61516 35.76106, -85.61509 35.761...
1     POLYGON ((-85.60513 35.70854, -85.60511 35.708...
2     POLYGON ((-86.64406 35.64029, -86.64375 35.642...
3     POLYGON ((-86.66377 35.58189, -86.66367 35.582...
4     POLYGON ((-83.86208 35.99255, -83.86207 35.992...
...                                                 ...
1696  POLYGON ((-82.85011 36.54107, -82.84955 36.541...
1697  POLYGON ((-82.68939 36.58793, -82.68936 36.588...
1698  POLYGON ((-82.69446 36.54856, -82.69445 36.548...
1699  POLYGON ((-82.82242 36.52006, -82.82171 36.520...
1700  POLYGON ((-82.73162 36.52804, -82.73108 36.528...

[1701 rows x 13 columns]>

In [220]:
#raw_df = pd.merge(raw_df, geo1_df, on = ["geometry"], how = "inner")
#raw_df

In [219]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head( )

epsg:4326

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."